* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3E5879;
}

.navbar-container {
    width: 100%;
    background-color: #213555;
}

.nav-header {
    font-size: 2rem;
    color: #D8C4B6;
    text-decoration: none;
    margin-left: 1rem
}

.link {
    font-size: 1.8rem;
    color: #F5EFE7;
    text-decoration: none;
    margin-left: 1.2rem
}

.link:hover {
    color: #D8C4B6;
}

.h3-header {
    color: #F5EFE7;
}

.toggler-button {
    background-color: #F5EFE7;
    color: #F5EFE7;
}

.input {
    background-color: #F5EFE7;
    color: #213555;
    border: 0.5px solid #213555;
}

.input:focus {
    background-color: #F5EFE7;
    color: #213555;
}

.button {
    background-color: #213555;
    color: #F5EFE7;
}


.button:hover {
    background-color: #F5EFE7;
    color: #213555;
}